include README.md
include genet/predict/models/DeepSpCas9/*
include genet/predict/models/DeepPrime/DeepPrime_base/*
include genet/predict/models/DeepPrime/DeepPrime_FT/*
include genet/predict/models/DeepPrime/DeepPrime_FT/DPFT_293T_NRCH_PE2/*
include genet/predict/models/DeepPrime/DeepPrime_FT/DPFT_293T_PE2max/*
include genet/predict/models/DeepPrime/DeepPrime_FT/DPFT_293T_PE4max/*

include genet/predict/models/DeepBaseEditor/*
